body {
    background-color: rgb(0, 41, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.Formulir {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    width: 25%;
}

.Formulir input[type="text"] {
    display: block;
    width: 95%;
    height: 30px; 
    margin-bottom: 10px;
}

.Formulir input[type="submit"] {
    background-color: rgb(0, 41, 145);
    color: white;
    border-radius: 10px;
    border-color: azure;
    cursor: pointer;
    width: auto; 
    padding: 10px;
}